@using MvcProjectCV.Models.Entity
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Edit Your About Page</h2>
<br />
<form method="post">
    @foreach (var x in Model)
    {
        <label>Name</label>
        <input type="text" class="form-control" name="Name" value="@x.Name" /><br />
        <label>Surname</label>
        <input type="text" class="form-control" name="Surname" value="@x.Surname" /><br />
        <label>Address</label>
        <input type="text" class="form-control" name="Address" value="@x.Address" /><br />
        <label>Phone</label>
        <input type="text" class="form-control" name="Phone" value="@x.Phone" /><br />
        <label>Mail</label>
        <input type="text" class="form-control" name="Mail" value="@x.Mail" /><br />
        <label>Picture</label>
        <input type="text" class="form-control" name="Picture" value="@x.Picture" /><br />
        <label>Description</label>
        <textarea class="form-control" name="Description" rows="5">@x.Description</textarea><br />
    }
    <br />
    <button class="btn btn-success">Save changes</button> &nbsp; <a href="/About/Index/" class="btn btn-danger">Discard</a>
</form>



