@model MvcProjectCV.Models.Entity.Skill
@{
    ViewBag.Title = "EditSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Edit Skill</h4>
<br />
<form class="form-group" method="post" onsubmit="showMessage()">
    @Html.HiddenFor(x => x.ID)
    @Html.Label("Skill Description")
    @Html.TextBoxFor(x => x.Skill1, new { @class = "form-control" })
    <br />
    @Html.Label("Skill Rate")
    @Html.TextBoxFor(x => x.Rate, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Save changes</button>
</form>
<script>
    function showMessage() {
        alert("Your skill has been changed!");
    }
</script>

